# for visual studio files
*.tlog
*.obj
*.log
*.pdb
*.lastbuildstate
*.sdf
*.vcxproj.user
*.exe
*.suo

# images
*.bmp
*.png
*.jpg
*.JPG

# data files
*.prb
*.prc
*.prsc

# DSLR folder
matlab/Calibration/DSLR/

